body{
    font-family: 'Courier New', Courier, monospace;

}
.main-container{
    width: 100%;
}
.container{
    width: 90%;
    padding: 3%;
    min-height: 70vh;
}

.container-fluid{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.container-fluid h1{
    text-align: center;
    font-size: 20px;

}
table {
    margin-top: 3em;
    border: 1px solid black;
    width: 100%;
}
table tr th{
    font-weight: bolder !important;
    border-bottom: 1px solid black;
    padding: 10px;
}
table tr td{
    text-align: center;
    padding: 10px;

}
.footer ul li{
    list-style-type:  none;
}
.footer{
    display: flex;
    justify-content: space-between;
    border: 1px solid;
    padding: 10px;
    box-shadow: 10px 5px 0px 0px #888888;
    width: 97%;
}
.footer .left-wrapper{
   width: 35%;
}
.left-wrapper ul{
    width: 70%;
    display: flex;
    justify-content: space-between;
}
.left-wrapper ul li:nth-child(1){
    font-weight: bold;
    color: rgb(207, 85, 14);
}

.left-wrapper ul li:nth-child(2){
    font-weight: bold;
    text-decoration: underline;
}
.left-wrapper ul li:nth-child(2):hover{
   cursor: pointer;
   transform: scale(1.01);
}
.left-wrapper ul li:nth-child(2) a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.596);

}
.left-wrapper ul li:nth-child(2) a:hover{
    text-decoration: none;
    color: rgba(22, 54, 240, 0.856);

} 